<div class="position-sticky sidebar">
  <div class="card card-hover rounded-4 shadow-sm mb-4">
    <div class="card-body">
      <p class="card-text">Home / Dashboard</p>
      <h5 class="card-title">Admin Dashboard</h5>
    </div>
  </div>
  <div class="card card-hover rounded-4 shadow-sm mb-4">
    <img
      class="card-img-top sidebar-image m-auto mt-4 rounded-circle"
      src="../../../../../assets/img/team/t4.webp"
    />
    <div class="card-body">
      <h4 class="card-title text-center">Welcome Admin</h4>
      <p class="card-text text-center">{{ userDetails.email }}</p>
    </div>
  </div>
  <div class="card card-hover rounded-4 shadow-sm mb-4">
    <div class="card-body mx-4">
      <button
        routerLink="/leave-management/admin-dashboard/employee-profile/:id"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="dashboard-btn rounded-top-3"
        id="dashboard-btn1"
      >
        Profile
      </button>
      <button
        routerLink="/leave-management/admin-dashboard/employee-timeoff"
        routerLinkActive="active"
        class="dashboard-btn"
        id="dashboard-btn1"
      >
        TimeOff
      </button>
    </div>
  </div>
</div>
